.card {
  background:  #f2d0a4ff;
  border-style: solid;
  border-radius: 2px;
  height: 800px;
  margin: 1rem;
  margin-bottom: 20px;
  position: relative;
  width: 80%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  margin-top: 10px;
  height: 60%;
  overflow: hidden;
  text-align: center;
  background: #f2d0a4ff;
}
.card > .img-container > img {
  max-width: 100%;
  height: auto;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}
